/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}
@font-face {
  font-family: Sonnyfive;
  src: url('../fonts/Sonnyfive.ttf'); 
}
/* Ẩn thanh cuộn */
::-webkit-scrollbar {
  display: none;
}
/* Mượt cớt khi cuộn */
html {
  scroll-behavior: smooth;
}
body{
  /* Dùng để chặn người dùng bôi đen */
  /* Nếu muốn cho bôi đen thì đổi none-text */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, và Opera */
  -webkit-touch-callout: none; /* Android và iOS*/
}
body::before {
  /* Ẩn - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}
/* -------------------------------- 

Main Components 

-------------------------------- */
body {
  margin: 0;
  font-family: "Nunito", sans serif;
  color: #fff;
  background: rgba(0, 139, 0, 0.3);
}
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}
#blur{
  position: relative;
  transition: all 1s linear;
}
/* Logo */
#home {
  display: flex;
  justify-content: center;
  /* #43b29d; */
  background: rgba(0, 139, 139, 0.3);
  position: relative;
  top: 0;
  font-family: Sonnyfive, sans-serif;
  font-size: 2em;
  transition: filter 1s linear;
  z-index: 0;
}
#home h1 {
  text-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.05),
    0 6.7px 5.3px rgba(0, 0, 0, 0.07), 
    0 12.5px 10px rgba(0, 0, 0, 0.1);
}
/* Menu */
.nav-bar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgba(0, 139, 139, 0.3);
  transition: background 0.5s;
  transition: filter 1s linear;
}
.nav-bar a {
  text-decoration: none;
  color: #fff;
  pointer-events: auto;
  text-shadow: 0 2px 2.2px rgba(0, 0, 0, 0.05),
    0 4px 5.3px rgba(0, 0, 0, 0.07), 
    0 6px 10px rgba(0, 0, 0, 0.1);
}
.nav-5 {
  transition: margin-left 0.5s ease;
}
.fixed {
  position: fixed;
  width: 100%;
  height: fit-content;
  top: 0;
  background: rgba(0, 139, 0, 0.3);
  z-index: 10;
}
.toright {
  margin-left: 30%;
}
@media screen and (max-width: 1050px) {
  .nav-bar h1 {
    font-size: 1.5em;
    padding: 0 0.5em;
  }
}
@media screen and (max-width: 920px) {
  .toright {
    margin-left: 20%;
  }
}
@media screen and (max-width: 799px) {
  .nav-bar h1 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 640px) {
  .nav-bar h1 {
    font-size: 1em;
    padding: 0 0.3em;
  }
}
@media screen and (max-width: 500px) {
  .toright {
    margin-left: 0;
  }
}
/* Section */
.cd-section {
  height: 100vh;
}
.section-blur {
  transition: filter 1s linear;
}
.cd-section h2 {
  height: 100vh;
  text-align: center;
}
.cd-section:first-of-type > div {
  background-image: url("../img/home.jpg");
  background-size: 100% 86%;
  background-repeat: no-repeat;
  z-index: -1;
}
.cd-section:first-of-type > div::before {
  /* thông báo -> Các hiệu ứng cuộn không hiển thị trên các thiết bị nhỏ */
  /* content: 'Effects not visible on mobile!';
  position: absolute;
  width: 100%;
  z-index: 1;
  font-size: 1rem; */
}
.cd-section:nth-of-type(2) > div {
  /* background-image: url("../img/about.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; */
  background-color: rgba(0, 139, 0, 0.3);;
  z-index: -1;
}
.cd-section:nth-of-type(3) > div {
  /* background-image: url("../img/service.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat; */
  background-color: rgba(0, 139, 0, 0.3);;
  z-index: -1;
}
.cd-section:nth-of-type(4) > div {
  background-color: rgba(0, 139, 0, 0.3);;
  z-index: -1;
}
@media only screen and (min-width: 1050px) {
  .cd-section h2 {
    font-size: 4rem;
    font-weight: 300;
  }
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  transition: filter 1s linear;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/cd-icon-arrow.svg) no-repeat center center;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.03),
  0 0 2px 2.5px rgba(0, 0, 0, 0.05), 
  0 0 4px 5px rgba(0, 0, 0, 0.07);;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  /* Ẩn nút nút prev */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
    list-style-type: none;
  }
}
/* Filter */
.filter {
  filter: blur(20px);
}
/* form-login */
#myNav {
  transition: width 0s;
}
.form-login {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  overflow: hidden;
  transition: 1s;
}
.form-login a {
  text-decoration: none;
  color: #818181;
  transition: 0.5s;
}
.form-login .form-login-cancel {
  position: absolute;
  top: 6%;
  right:5%;
  font-size: 60px;
}
input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}
.main-div h1 {
  text-align: center;
  text-shadow: 0 2px 2.2px rgba(0, 0, 0, 0.05),
    0 4px 5.3px rgba(0, 0, 0, 0.07), 
    0 6px 10px rgba(0, 0, 0, 0.1);
}
.main-div, .loggedin-div {
  width: 30%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  display: none;
  opacity: 0;
  transition: all 1s;
}
#user_div {
  text-shadow: 0 2px 2.2px rgba(0, 0, 0, 0.05),
    0 4px 5.3px rgba(0, 0, 0, 0.1), 
    0 6px 10px rgba(0, 0, 0, 0.3);
}
.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.main-div input:focus {
  border: 1px solid #777;
}
.main-div button, .loggedin-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.main-div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}
@media screen and (max-width: 1150px) {
  .main-div, .loggedin-div {
    width: 30%;
  }
}
@media screen and (max-width: 1023px) {
  .main-div, .loggedin-div {
    width: 35%;
  }
}
@media screen and (max-width: 799px) {
  .main-div, .loggedin-div {
    width: 45%;
  }
}
@media screen and (max-width: 511px) {
  .main-div, .loggedin-div {
    width: 55%;
  }
}
@media screen and (max-width: 360px) {
  .main-div, .loggedin-div {
    width: 75%;
  }
}
/* chức năng */
.flex-container {
  display: flex;
  align-items: wrap;
  align-items: center;
  text-align: center;
  text-shadow: 0 2px 2.2px rgba(0, 0, 0, 0.05),
    0 4px 5.3px rgba(0, 0, 0, 0.07), 
    0 6px 10px rgba(0, 0, 0, 0.1);
}
.flex-service-left {
  flex: 60%;
}
.flex-service-right {
  flex: 40%;
}
.flex-service-left .service-title {
  font-size: 3rem;
}
.flex-service-part {
  flex: 50%;
}
.row {
  display: flex;
  align-items: wrap;
}
.service-title h1 {
  font-size: 1em;
}
.service-content {
  text-align: left;
}
.service-content h1{
  font-size: 1.8rem;
  margin: 0.4rem;
}
.service-content p{
  font-size: 1.2rem;
  margin: 0.4rem;
}
.collum-2 {
  flex: 15%;
}
.collum-4 {
  flex: 35%;
}
/* Giới thiệu */
.flex-about-container {
  display: flex;
  align-items: wrap;
  align-items: center;
  text-align: center;
  text-shadow: 0 2px 2.2px rgba(0, 0, 0, 0.05),
    0 4px 5.3px rgba(0, 0, 0, 0.07), 
    0 6px 10px rgba(0, 0, 0, 0.1);
}
.about-left {
  display: flex; 
  position: relative;
  padding: 0 1em;
}
.about-left a {
  position: absolute;
  display: flex;
  justify-content: flex-end;
}
.about-left .about-img-1 {
  padding: 0 1em;
  left: 0%;
  top: -22%;
  z-index: 1;
  opacity: 0.2;
}
.about-left .about-img-2 {
  padding: 0 1em;
  left: 0%;
  top: -15%;
  z-index: 2;
  opacity: 0.4;
}
.about-left .about-img-3 {
  padding: 0 1em;
  position: relative;
  left: 0%;
  top: 0%;
  z-index: 3;
}
.about-left .about-img-3 img {
  box-shadow: 0px 2px 5.2px rgba(0, 0, 0, 0.034),
    0px 10px 20.3px rgba(0, 0, 0, 0.068), 
    0px 16px 50px rgba(0, 0, 0, 0.186);
}
.about-right {
  flex: 50%;
  padding-right: 10em;
  font-size: 1rem;
  text-align: left;
}
.about-button {
  padding: 1em 3em;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  text-shadow: 0 2px 2.2px rgba(0, 0, 0, 0.05),
    0 4px 5.3px rgba(0, 0, 0, 0.07), 
    0 6px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5.2px rgba(0, 0, 0, 0.034),
    0px 10px 20.3px rgba(0, 0, 0, 0.068), 
    0px 16px 50px rgba(0, 0, 0, 0.186);
}
/* Liên hệ */
.flex-contact-left {
  flex: 35%;
  font-size: 1.3rem;
  padding-left: 10rem;
  text-align: left;
}
.flex-contact-right {
  flex: 65%;
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-right: 10rem;
  text-align: left;
}
::placeholder {
  color: #888;
  font-weight: normal;
  font-size: 1rem;
}
.flex-contact-right input {
  padding: 0.5rem 1rem;
  border-color: rgba(0,0,0,.15);
  border-radius: 5px;
}
.flex-contact-right .name {
  margin-right: 1.5rem;
}
.flex-contact-right .name,
.flex-contact-right .email {
  margin-bottom: 1.5rem;
  width: 40%;
}
.flex-contact-right .mess {
  width: 83%;
  margin-bottom: 1.5rem;
  padding-bottom: 9rem;
}
.contact-button {
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  box-shadow: 0px 2px 5.2px rgba(0, 0, 0, 0.034),
    0px 10px 20.3px rgba(0, 0, 0, 0.068), 
    0px 16px 50px rgba(0, 0, 0, 0.186);
}